# GCP
GCP_PROJECT_ID=phishing-radar-putopavel
GCP_REGION=europe-southwest1
BQ_DATASET=phishing_radar
GCS_BUCKET=phishing-radar-putopavel-raw

# Kafka / Redpanda
KAFKA_BOOTSTRAP=localhost:9092
CERTSTREAM_TOPIC=certstream_events
SUSPICIOUS_TOPIC=suspicious_certs

# CertStream
CERTSTREAM_URL=wss://certstream.calidog.io/

# MaxMind
MAXMIND_LICENSE_KEY=

# GreyNoise (optional, community API works without key at lower rate)
GREYNOISE_API_KEY=

# dlt
DESTINATION__BIGQUERY__CREDENTIALS__PROJECT_ID=phishing-radar-putopavel
GOOGLE_APPLICATION_CREDENTIALS=.secrets/service-account.json
