[destination.bigquery]
location = "europe-southwest1"

[destination.bigquery.credentials]
project_id = "your-gcp-project-id"
private_key = """-----BEGIN PRIVATE KEY-----
...replace with the contents of .secrets/pipeline-sa.json private_key field...
-----END PRIVATE KEY-----
"""
client_email = "phishing-radar-pipeline@your-gcp-project-id.iam.gserviceaccount.com"
